a button{
    background-color: rgb(88, 133, 218);
    color: rgb(255, 255, 255);
    padding: 7px;
    border-radius: 10px;
}
.single-history{
    color: white;
    transition: .2s;
}
.single-history:hover{
    background: rgba(125, 179, 195, 0.534);
    transform: scale(.97);
}