.single-history {
    background-color: rgba(255, 255, 255, 0.082);
    height: 450px;
    text-align: center;
    padding: 10px 5px;
    border: 1px solid none;
    border-radius: 15px;
    margin:5px 5px;
}
.single-history img{
    width: 200px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
}